header{
    background: linear-gradient(to right, rgb(161, 72, 245), rgb(19, 55, 146));
    width: 100%;
    padding: 20px;
}

h1{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

header span{
    color: rgb(0, 238, 255);
}
h1 img{
    width: 30px;
    height: 25px;
}

header p{
    color: rgb(191, 201, 255);
    text-align: center;
}